In [2]:
%pip install --upgrade plotly pandas numpy seaborn matplotlib nbformat scikit-learn

Requirement already satisfied: plotly in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (6.0.1)
Requirement already satisfied: pandas in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (2.2.3)
Requirement already satisfied: numpy in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (2.2.4)
Requirement already satisfied: seaborn in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (0.13.2)
Requirement already satisfied: matplotlib in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (3.10.1)
Requirement already satisfied: nbformat in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (5.10.4)
Requirement already satisfied: scikit-learn in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (1.6.1)
Requirement already satisfied: packaging in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from plotly) (24.2)
Requirement already satisfied: narwhals>=1.15.1 in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from plotly) (1.32.0)
Requirement already satisfied: tzdata>=2022.7 in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from pandas) (2025.1)
Requirement already satisfied: pytz>=2020.1 in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from pandas) (2025.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: contourpy>=1.0.1 in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: pillow>=8 in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from matplotlib) (4.56.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: traitlets>=5.1 in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from nbformat) (5.14.3)
Requirement already satisfied: fastjsonschema>=2.15 in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from nbformat) (2.21.1)
Requirement already satisfied: jsonschema>=2.6 in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from nbformat) (4.23.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from nbformat) (5.7.2)
Requirement already satisfied: scipy>=1.6.0 in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: joblib>=1.2.0 in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: referencing>=0.28.4 in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from jsonschema>=2.6->nbformat) (0.36.2)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from jsonschema>=2.6->nbformat) (2024.10.1)
Requirement already satisfied: rpds-py>=0.7.1 in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from jsonschema>=2.6->nbformat) (0.24.0)
Requirement already satisfied: attrs>=22.2.0 in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from jsonschema>=2.6->nbformat) (25.3.0)
Requirement already satisfied: platformdirs>=2.5 in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (4.3.6)
Requirement already satisfied: six>=1.5 in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: typing-extensions>=4.4.0 in /Users/jnibbs/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from referencing>=0.28.4->jsonschema>=2.6->nbformat) (4.12.2)
WARNING: You are using pip version 22.0.4; however, version 25.0.1 is available.
You should consider upgrading via the '/Users/jnibbs/.pyenv/versions/3.10.5/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np

import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

import matplotlib.dates as mdates
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [4]:
pd.options.display.float_format = '{:,.2f}'.format

In [5]:
stock = pd.read_csv('FUN.csv')

## Dataset on the ticker FUN 
---

In [6]:
print(stock.shape)
print(f'Any NaN: {stock.isna().any().all()}')
print(f'Any Duplicates: {stock.duplicated().any()}')
stock.info()

(8303, 7)
Any NaN: False
Any Duplicates: False
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8303 entries, 0 to 8302
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       8303 non-null   object
 1   Open       8303 non-null   float64
 2   High       8303 non-null   float64
 3   Low        8303 non-null   float64
 4   Close      8303 non-null   float64
 5   Adj Close  8303 non-null   float64
 6   Volume     8303 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 454.2+ KB

In [7]:
stock['Date'] = pd.to_datetime(stock['Date'])

In [8]:
stock[:2]

        Date  Open  High  Low  Close  Adj Close   Volume
0 1987-04-23  4.88  5.00 4.88   5.00       0.22  2902200
1 1987-04-24  5.00  5.00 4.94   5.00       0.22  1401800

In [10]:
stock.sort_values('Date', ascending=False)

           Date  Open  High   Low  Close  Adj Close   Volume
8302 2020-04-01 17.73 17.96 16.66  17.05      17.05   898700
8301 2020-03-31 19.60 20.57 18.14  18.34      18.34  1027000
8300 2020-03-30 22.21 22.21 19.33  19.40      19.40  1216900
8299 2020-03-27 23.12 23.94 21.26  22.66      22.66  1167900
8298 2020-03-26 27.81 28.42 24.09  25.01      25.01  1379900
...         ...   ...   ...   ...    ...        ...      ...
4    1987-04-29  5.00  5.00  4.94   5.00       0.22    67000
3    1987-04-28  5.00  5.00  4.94   5.00       0.22    89000
2    1987-04-27  5.00  5.00  4.88   5.00       0.22   290400
1    1987-04-24  5.00  5.00  4.94   5.00       0.22  1401800
0    1987-04-23  4.88  5.00  4.88   5.00       0.22  2902200

[8303 rows x 7 columns]

### Train the model

In [18]:
target = stock['Close']
features = stock.drop(['Close', 'Date'], axis=1)

X_train, X_test, y_train, y_test = train_test_split(features, 
                                                    target, 
                                                    test_size=0.2, 
                                                    random_state=10)

In [19]:
regr = LinearRegression()
regr.fit(X_train, y_train)
rsquared = regr.score(X_train, y_train)
print(f'Training data r-squared: {rsquared:.2}')

Training data r-squared: 1.0

In [20]:
regr_coef = pd.DataFrame(data=regr.coef_, index=X_train.columns, columns=['Coefficient'])
regr_coef

           Coefficient
Open             -0.44
High              0.72
Low               0.72
Adj Close        -0.00
Volume           -0.00